html, body {
    height: 100%;
}

#left-side {
    padding: 0;
    height: 100%;
    background-color: #343a40;
}

.list-group-item-action {
    border-radius: 0 !important;
    color: darkgray;
}

.list-group-item {
    background-color: #343a40;
}

list-group-item-action:active {
    background-color: #40454a;
}

list-group-item-action:hover {
    background-color: #40454a;
}